
# Training data extensions that should be completely rejected
# (GitHub is such a dork that it doesn't let me use as much disk space as I want)
**/*.jpg
**/*.jpeg
**/*.png
**/*.gif
**/*.webp
**/*.zip
**/*.svg
**/*.mp4
**/*.webm
